@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import "bootstrap/dist/css/bootstrap.min.css";

$font_base: 'Space Mono', monospace;
$colorbg1: rgba(199, 174, 73, 20%);
$colorbg2: rgb(225, 216, 216, 40%);


@mixin block {
    background: $colorbg2;
    height: auto;
    margin: 0 auto;
}
body {
    font-family: $font_base;
}

.container {
    width: 60%;
    margin: 0 auto;
}

.header{
    @include block;
    width: 100%;
    background-color: $colorbg1;
    margin: 40px 0;
    text-align: center;
    border-radius: 15px;
    font-size: 40px;
    position: relative;
}

.workerPanelContainer {
    background: $colorbg2;
    color: black;  
    width: 100%;
    text-align: center;
    padding: 40px;
    margin-bottom: 40px;
    border: 1px solid $colorbg2;
  
    .itemWorker{
        width: 100%;
        display: flex;
        justify-content:space-around;
        span{
        width: 100%;
       }
    }
    button{
        border: none;
        width: 40%;
        background-color: inherit;
    }   
}

form {
    @include block;
    margin-bottom: 40px;
    padding: 40px;
    
}

.workerForm{
    display: flex;
    justify-content: space-between;

        .formField_middle{
            margin: 0 10px;
        }
        label {
            width: 100%;
            text-align: center;
            color: black;
        }
        input{  
            width: 100%;
            background-color: $colorbg1;
            border: 1px solid $colorbg2;
        }
        .errorValidate{
            text-align: center;
            
        } 
}
    .btnSub{
        display: block;
        margin: 20px auto;
        background-color: none;
        border: 1px solid $colorbg2;
    }  
   
.filtersWrapp{
    @include block;
        display: flex;
        justify-content: space-around;
        padding: 20px;
        margin-bottom: 40px;
        
    button {
        background-color: $colorbg1;
        border: none;
    }
   
}
.btn_logout{
    position: absolute;
    height: 50px;
    width: 100px;
    font-size: 18px;
    background-color: transparent;
    right: 0;
    top: 5px;
    border: none;
}
.formauth{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    justify-content: center;
    input{
        padding-left: 10px;
    }
    input, button{
        margin-right: 20px;
        margin-bottom: 20px;
        width: 300px;
        height: 30px;
        outline: none;
        border: 1px solid black;
        background-color: transparent;
    }
}
.authpage {
    @include block;
    display: grid;
    height: 100vh;
    grid-template-areas: 'head''form''link';
    grid-template-rows: 200px 300px 30px;
   
    &_head{
        grid-area: head;
        margin:0;
        background-color: transparent;
        text-align: center;
        padding-top: 100px;
    }
    &_form{
        grid-area: form;
        display: flex;
        height: 300px;
        justify-content: center;
        align-items: center;
    }
    &_link{
        grid-area: link;
        text-align: center;
        
    }
}
.open_wrapp{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   margin-top: 300px;
}
.btn_open{
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 300px;
    height: 30px;
    outline: none;
    border: 1px solid black;
    background-color: transparent;
}

@media (max-width: 960px) {
    .workerForm {
        display: block;
        .formField_middle{
            margin: 0;
        }
    }
    .filtersWrapp {
        display: block;
        padding: 0 50px;
       
        button {
            width: 100%;
            margin-top: 10px;
            
        }
    }
}