@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "bootstrap/dist/css/bootstrap.min.css";

$font_base: 'Roboto';
$colorbg1: rgba(168, 145, 145, 1);
$colorbg2: rgba(217, 217, 217, 1);


@mixin block {
    background: $colorbg2;
    width: 800px;
    height: auto;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 5px;
}
body {
    font-family: $font_base;
}

.header{
    @include block;
    background-color: $colorbg1;
        p{
        margin: 0;
        text-align: center;
        font-size: 40px;
        color: #FFFFFF;
    }
}

.panel_container {
    list-style: none;
    background: $colorbg2;
    color: white;  
    width: 800px;
    height: auto;
    margin: 40px auto 0 auto;
    border-radius: 5px;
    text-align: center;
    li{
       margin: 20px 0;
       border-radius: 5px;
       background-color: $colorbg1;
    }
    .itemClient{
        display: inline-block;
        width: 20%;
        margin-right: 50px; 
    }
    button{
        width: 100px;
        height: 10px;
        float: right;
        color: black;
        background-color: $colorbg1;
        border: none;
        border-radius: 5px;
    }   
}

.clientForm{
    @include block;

    .formField{
        position: relative;
        display: inline-block;
        width: 100%;
        padding: 20px;
    }
    label {
        color: black;
        width: 40%;
        text-align: center;
    }
    input{
        background-color: $colorbg1;
        border: none;
        border-radius: 5px;
        width: 50%;
        float: right;
        margin-right: 50px;
    }
    ::placeholder{
        float: right;
        color: white;
    }
    button{
        background-color: $colorbg1;
        color: white;
        border: none;
        border-radius: 5px;
        width: 100px;
        margin-right: 50px;
        float: right;
    } 
    .errorValidate{
        position: absolute;
        right: 70px;
        color: white;
    }
}

.filtersWrapp{
    @include block;
    padding-left: 50px;
    margin-bottom: 40px;
    button {
        color: white;
        width: auto;
        background-color: $colorbg1;
        border: none;
        border-radius: 5px;
        margin: 20px 40px 40px 0;
        padding: 5px;
    }
    p{
        color: black;
        text-align: center;
        padding-top: 20px;
    }
    .lastBtn {
        float: right;
        margin-right: 15px;
    }
}
